autocommand
backports.tarfile
blinker
certifi
charset-normalizer
click
dash-core-components
dash-html-components
dash-table
dash
flask
idna
importlib-metadata
importlib-resources
inflect
itsdangerous
jaraco.collections
jaraco.context
jaraco.functools
jaraco.text
jinja2
markupsafe
matlab
more-itertools
nest-asyncio
numpy
packaging
pandas
pip
platformdirs
plotly
pyodbc
python-dateutil
pytz
requests
retrying
setuptools
six
sqlalchemy
tenacity
tomli
typeguard
typing-extensions
tzdata
urllib3
werkzeug
wheel
zipp
